/* search */
.search button {
  border-radius: 0 5px 5px 0;
  border-left: none;
  margin-right: 5px;
}

.search input {
  flex: 1;
  border-radius: 5px 0 0 5px;
  border-right: none;
  margin-left: 5px;
}

.search input:focus {
  outline-width: 0;
}

.active {
  font-weight: bold;
}

.search {
  flex: 1;
  position: sticky;
  top: 0;
  z-index: 100;
}
