img.small {
  width: 70px;
}

.min-30 {
  align-content: center;
  margin: 20px;
  flex: 1;
}

.delete {
  font-size: 25px !important;
  cursor: pointer;
}

.delete:hover {
  color: #3cae2b;
}

.cart-sub {
  align-content: center;
  border: 1px #c0c0c0 solid;
  background-color: #f8f8f8;
  margin: 5px;
  padding: 30px;
}

.card-cart {
  align-content: space-between;
  width: 60%;
  border: 1px #c0c0c0 solid;
  background-color: #f8f8f8;
  margin: 5px;
  padding: 5px;
}

.price {
  font-weight: 550;
}

.selected > select {
  border-color: #d5d9d9;
  border-radius: 8px;
  color: #0f1111;
  background: #F0F2F2;
  margin: 10px;
  cursor: pointer;
  display: inline-block;
}

