.card {
  object-fit: contain;
  max-width: 210px;
  max-height: inherit;
  border: 1px #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 15px;
  margin: 5px;
  transition: transform 150ms ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-body {
  padding: 10px;
}

.card-body > * {
  margin-bottom: 20px;
}

/* Carousel */
.carousel .slide img {
  position: relative;
  width: 50%;
  height: 300px;
  object-fit: fill;
}

/* pagination */
.pagination-home a {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px #a4a4a4 solid;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pagination a.active {
  font-weight: bolder;
}
  
.carousel {
  z-index: 20;
  margin-bottom: 0;
  mask-image: linear-gradient(to bottom, blue to transparent );

}
