.full-container {
    margin: -1rem;
    height: calc(100% + 2rem);
}

.map-input-box {
    /* border-radius: 0 5px 5px 0; */
    /* border-right: none; */
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0.5em auto;
    width: 25rem;
    height: 4rem;
    display: flex;
}

.map-input-box input {
    border-radius: 1rem 0 0 1rem;
    border-right: 0;
    outline-width: 0;
}

.map-input-box button {
    /* border-radius: 0 5px 5px 0; */
    /* border-left: none; */
    /* margin-right: 5px; */
    border-radius: 0 1rem 1rem 0;
    border-left: 0;
}