.row.top {
  align-items: flex-start;
}

.col-1 {
  flex: 1 1 250px;
}

.col-2 {
  flex: 2 1 500px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 10px;
}

.success {
  color: #00c853;
}

.danger {
  color: #e71d36;
}

select::-webkit-scrollbar {
  display: none;
}

select {
  overflow: scroll;
}

button.primary {
  background-color: #FFD814;
}

button.block {
  width: 100%;
}

.buy {
  border: 1px #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
}

.review__form {
  max-width: 600px;
  margin: 0 auto;
}

.review__form > div {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.review__form label {
  margin: 10px 0;
  display: block;
}
