.register__form {
  width: 400px;
  margin: 0 auto;
  border: 2px solid lightgray;
  border-radius: 5px;
  height: fit-content;
  padding: 10px;
}

.register__form > div {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.register__form label {
  margin: 10px 0;
  display: block;
}

.register__form .register {
    align-items: center;
  }
