.signin__form {
  width: 400px;
  margin: 0 auto;
  border: 2px solid lightgray;
  border-radius: 5px;
  height: fit-content;
  padding: 10px;
}


.signin__form > div {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.signin__form label {
  margin: 10px 0;
  display: block;
}

.signin__form .disclaimer {
  font-size: 12px;
  text-align: justify;
}

.signin__form .signin {
  align-items: center;
  /* justify-content: center; */
}
