.support-users li {
    background-color: #f8f8f8;
}

.support-users {
    background: #f0f0f0;
}

.support-users button {
    background-color: transparent;
    border: none;
    text-align: left;
}

.support-users li {
    margin: 0;
    background-color: #f0f0f0;
    border-bottom: 1px #c0c0c0 solid;
}

.support-users li:hover {
    background-color: #f0f0f0;
}

.support-users li.selected {
    background-color: #c0c0c0;
}

.support-messages {
    padding: 10px;
}

.support-messages input {
    width: calc(100% - 90px);
}

.support-messages ul {
    height: calc(100vh - 180px);
    overflow: scroll;
}

.support-messages li {
    margin-bottom: 10px;
}

.support-users span {
    width: 10px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    margin-left: -25px;
    margin-top: 10px;
}

.support-users .offline {
    background-color: #808080;
}

.support-users .online {
    background-color: #20a020;
}

.support-users .unread {
    background-color: #f02020;
}