

html {
  font-size: 62.5%; /*16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/*  Layout */
.grid-container {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #203040;
}

main {
  grid-area: main;
  padding: 10px;
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}

/* Common */
h1 {
  font-size: 18px;
  padding: 10px 0;
}

h2 {
  font-size: 16px;
  padding: 10px 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff8000;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 10px;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: 1px #a4a4a4 solid;
  background-color: #f8f8f8;
  cursor: pointer;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

button.primary {
  background-color: #F1c659;
}

button.block {
  width: 100%;
}

button:hover {
  border: 1px #404040 solid;
}

/* Header */
header a {
  color: #ffffff;
  padding: 10px;
}

a.brand {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start;
}

.col-1 {
  flex: 1 1 250px;
}

.col-2 {
  flex: 2 1 500px;
}

/* Footer */
.row.footer {
  font-size: small;
  justify-content: center;
}

/* Image */
img {
  border-radius: 5px;
}

img.medium {
  max-width: 250px;
  width: 100%;
}

img.large {
  /* object-fit: contain; */
  /* height: 400px;  */
  width: 100%;
}

/* card */
.card {
  border: 1px #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 5px;
  margin: 10px;
  transition: transform 150ms ease-in;
}

.card:hover {
  transform: scale(1.07);
}

.card-body {
  padding: 10px;
}

.card-body > * {
  margin-bottom: 5px;
}

.price {
  font-size: 20px;
}

/* Rating */
.rating span {
  color: gold;
  margin: 1px;
}

.rating span:last-child {
  color: #404040;
}

/* Alert */
.Success {
  color: #32cb00;
}

.error {
  color: #ec1f26;
}

.buy {
  border: 1px #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
}


