html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body {
  background-color: #eaeded;
  margin: 0x;
  height: 100vh;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #00395f;
}

/* Common */
h1 {
  font-size: 18px;
  padding: 10px 0;
}

h2 {
  font-size: 16px;
  padding: 10px 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff8000;
}

/* Header */
header a {
  color: #ffffff;
  padding: 10px;
}

a.brand {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}

.badge {
  position: absolute;
  background-color: yellow;
  color: #000000;
  font: bold;
  border-radius: 50%;
  padding: 2px 7px;
  font-size: 14px;
  margin-left: -10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.row.center {
  justify-content: center;
  align-content: center;
}

main {
  grid-area: main;
  padding: 10px;
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}

/* Images */
img {
  height: 35vh;
  border-radius: 5px;
  object-fit: contain;
}

img.medium {
  width: 210px;
  object-fit: fill;
}

img.large {
  width: 90%;
}

.price {
  font-size: 20px;
}

/* Rating */
.rating span {
  padding: 1px;
  color: #f0c040;
  margin: 1px;
}

.rating span:last-child {
  color: #242424;
}

/* Aside */
aside {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: #efefef;
  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
}

aside.open {
  transform: translateX(0);
}

button.open-sidebar {
  border-style: none;
  font-size: 30px;
  padding: 2px 5px;
  margin: 0 5px;
  background: none;
  color: #ffffff;
  /* cursor: pointer; */
}

/* button.open-sidebar:hover {
  border-style: outset;
  border-color: #ffffff;
} */

aside ul {
  padding: 0;
  list-style: none;
}

aside li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

button.close-sidebar {
  padding: 3px 8px;
}

input,
select,
textarea,
button {
  padding: 10px;
  border-radius: 5px;
  border: 1px #a4a4a4 solid;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: #f8f8f8;
  cursor: pointer;
}

input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 1px #404040 solid;
}

button.primary {
  background-color: #f0c040;
}
button.block {
  width: 100%;
}

/* Dropdown */
.dropdown {
  justify-content: center;
  align-content: center;
  display: inline-block;
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 120px;
  padding: 10px;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 4px;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #64dd17;
}
.danger {
  color: #e57373;
}

.alert-success {
  color: #212121;
  background-color: #64dd17;
}

.alert {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-danger {
  color: #212121;
  background-color: #e57373;
}
