

html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  height: 100%;
}

header {
  grid-area: header;
  /* background-color: #203040; */
  /* background-color: #232F3E; */
  background-color: #00395F;

}

/* Common */
h1 {
  font-size: 18px;
  padding: 10px 0;
}

h2 {
  font-size: 16px;
  padding: 10px 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff8000;
}

/* Header */
header a {
  color: #ffffff;
  padding: 10px;
}

a.brand {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}

.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 2px 7px;
  font-size: 14px;
  margin-left: 2px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;  
}

.row.top {
align-items: flex-start;
}

main {
  grid-area: main;
  padding: 10px;
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}


/* Images */
img {
  border-radius: 5px;
  object-fit: contain;
}

img.medium {
  max-width: 290px;
  width: 100%;
}

img.large {
  width: 100%;
}

.price {
  font-size: 20px;
}

/* Rating */
.rating span {
  color: #f0c040;
  margin: 1px;
}

.rating span:last-child {
  color: #242424;
}

 












